#works{
    margin: 0 auto; 
    min-height: calc(100vh - 4rem);
    width: 100vw; 
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.workTitle{
    font-size: 3rem; 
    font-weight: 600; 
    padding-top: 4rem; 
    padding-bottom: 2rem;
} 

.workDesc{
    font-weight: 400; 
    font-size: 1rem; 
    max-width: 60rem; 
    padding: 0 2rem;
}

.workImages{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    width: 100vw; 
    max-width: 60rem;
    padding-top: 3rem;
}

.workImg{
    object-fit: cover; 
    height: 20rem; 
    margin: 0.5rem;
}

.workBtn{
    margin: 3rem 0; 
    padding: 0.5rem 2rem; 
    border: none; 
    border-radius: 2rem; 
    font-size: 1rem; 
    background: white; 
    font-weight: 500;
    cursor: pointer;
}

.workBtn:hover{
    background: yellow;
    transition: 0.2s;
}